body {
    background-color: white
}

.heading {
  width: 1200px;
  border: 100px
  padding: 100px;
  margin: 100px;
}

.opacity {
  color: #3090C7;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.btn-color  {
  margin-top: 50px;
  background-color: #3090C7;
  width: 30%;
}
