body {
    background-color: white 
}

.heading {
  width: 1000px;
  border: 50px
  padding: 50px;
  margin: 60px;
}

.subheading {
  width: 1000px;
  border: 50px
  padding: 50px;
  margin: 60px;
}

.featured_picture {
  width: 1000px;
  border: 50px
  padding: 50px;
  margin: 60px;
}

.featured_description {
  text-align: justify;
  text-justify: inter-word;
}
