body {
    background-color: white
}

.heading {
  width: 1200px;
  border: 100px
  padding: 100px;
  margin: 100px;
}

.opacity {
  color: #3090C7;
}

img {
  border-radius: 50%;
}

.btn-color  {
  background-color: #3090C7;
}
